# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/

# Relatórios e backups
downloads/
backups/
Backups/
Relatorios/
*.pdf
*.xlsx

# Cache
.pytest_cache/
.mypy_cache/